<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="PdfCompanySummary"
   	class="com.sanket.ipropel.test.PdfCompanyView">
   </bean>
   
   <bean id="ExcelCompanySummary"
	class="com.sanket.ipropel.test.ExcelCompanyView">
	</bean>
	
	<bean id="pdfResumeView"
	class="com.sanket.ipropel.test.PdfResumeGenerator">
	</bean>

</beans>